body
{
    background-color: aqua;
}
table
{
    border: solid 2px blue;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}
button
{
    width: 100%;
    color: white;
    background-color: black;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
input{
    height: 30px;
    font-size: large;
}
label{
  font-size: 20px;
}
td{
    padding: 20px;
}
hr{
    height: 2px;
}